<section class="one">
  <header>
    <div class="heading">
      <div class="all-con">
        <h1><a href="#">ContentConcepts</a></h1>
        <img class="main" src="assets/menu_icon.svg">
        <ul class="links">
          <li><a href="">About</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <button class="first-btn">Get Quote</button>
      </div>
    </div>
  </header>
</section>


<div class="all">

  <section class="two">
    <div class="content">
      <div class="first-para">
        <p>Affordable Editing & Proofreading Services for Authors</p>
      </div>

      <div class="sec-img">
        <img src="assets/banner_image-ed99662788b680eabfa5eb2bee8fcb2c.png">
      </div>
      <div class="all-button">
        <div class="btn">
          <button type="button" class="btn btn-outline-primary my">Manuscript Editing</button>
        </div>
        <div class="btn-1">
          <button type="button" class="btn btn-outline-primary me">Plagiarism Check</button>
        </div>
        <div class="btn-2">
          <button type="button" class="btn btn-outline-primary whe">Publication Supports</button>
        </div>
      </div>
    </div>
  </section>

  <section class="three">

    <div class="details">

      <div class="det-1">
        <img class="img-pos" src="assets/edu.svg">
        <div class="paragrapg">
          <p>PhD Editors</p>
        </div>
      </div>

      <div class="det-1">
        <img class="img-pos" src="assets/affordable.svg">
        <div class="paragrapg">
          <p>Affordable Price</p>
        </div>
      </div>

      <div class="det-1">
        <img class="img-pos" src="assets/editing_certificate.svg">
        <div class="paragrapg">
          <p>Editing Certificate</p>
        </div>
      </div>

      <div class="det-1">
        <img class="img-pos" src="../assets/confidential.svg">
        <div class="paragrapg">
          <p>Secure & Confidential</p>
        </div>
      </div>

    </div>

  </section>


  <section class="fore">
    <div class="all-head">

      <div class="heading-two">
        <h1>Trusted by 500+ Clients</h1>
        <p>We provide English editing & proofreading, manuscript formatting, plagiarism check, and publication support
          to authors, students, publishers, universities, startups and corporate. Here is a list of few selected
          customers</p>
      </div>
    </div>
  </section>

  <section class="five">
    <div class="logos">
      <ul class="logo-img">
        <li><img src="assets/english_editing_proofreading_services.png"></li>
        <li><img src="assets/scientific_editing_services.png"></li>
        <li><img src="assets/manuscript_editing_services.png"></li>
        <li><img src="assets/document_proofreading_service.png"></li>
      </ul>
    </div>
  </section>



  <section class="six">
    <div class="sec-img">

      <div class="pos">
        <div class="main-heading">
          <h1>Our Services</h1>

        </div>
        <div class="col-md-4 pos-contant">
          <img class="main-1" src="assets/editing.svg">
          <h1 class="hh-1">Editing & Proofreading</h1>
          <p>Our PhD editors and English language specialists have worked on tons of manuscripts and know exactly what
            to do with your content. Hence you get a well polished content for publication.
          </p>
          <button type="button" class="btn btn-primary">know more</button>
        </div>

        <div class="col-md-4 pos-contant">
          <img class="main-1" src="assets/development.svg">
          <h1 class="hh-2">Publication Support</h1>
          <p>Our PhD editors and English language specialists have worked on tons of manuscripts and know exactly what
            to do with your content. Hence you get a well polished content for publication.
          </p>
          <button type="button" class="btn btn-primary">know more</button>
        </div>

        <div class="col-md-4 pos-contant">
          <img class="main-1" src="assets/consulting.svg">
          <h1 class="hh-3">Plagiarism Check</h1>
          <p>Our PhD editors and English language specialists have worked on tons of manuscripts and know exactly what
            to do with your content. Hence you get a well polished content for publication.
          </p>
          <button type="button" class="btn btn-primary">know more</button>
        </div>
      </div>

    </div>
  </section>

</div>



<section class="seveen">

  <div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contact Us</h2>
				<input type="text" class="field" placeholder="Name">
        <input type="text" class="field" placeholder="Email ID">
          <input type="text" class="field fie" placeholder="select Category">
        
				<textarea placeholder="Message" class="field fiel"></textarea>
				<button type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>

</section>



